{% extends 'base.html.twig' %}

{% from 'elements/macro.html.twig' import logo, flash %}

{% block push %}
    <div id="push" class="push">
        <div class="push-container">
            <h2 class="primary">Apéritips</h2>

            <p>{# Description/ Concept / ... #}</p>

            {{ logo() }}
        </div>
    </div>
{% endblock %}

{% block mainContent %}
    <section id="actus">
        <article>
            <h2 class="primary">Actus</h2>

            {% if event %}
                <p>Prochain Apéritips : <strong>{{ event.scheduledAt|localizeddate('long', 'none') }}</strong></p>

                <h3>Sujets</h3>

                <section class="articles">
                    {% for subject in event.subjects %}
                        <article class="article">
                            <h4>{{ subject.name|truncate(25) }}</h4>
                            <p>{{ subject.content|truncate(100) }}</p>
                            {% for speaker in subject.speakers %}
                                <span>{{ speaker.email }}</span>
                            {% endfor %}
                        </article>
                    {% endfor %}
                </section>

                {{ flash('success') }}

                {% if not event.isRegistered(app.user) %}
                    <form action="{{ path('event_register', { 'id': event.id }) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('event_registration') }}">
                        <button type="submit">{{ 'form.event.register_submit'|trans({}, 'form') }}</button>
                    </form>
                {% endif %}
            {% endif %}

        </article>
    </section>

    <section class="next-subject" id="prochains-sujets">
        <article>
            <h2 class="primary">Prochains sujets</h2>

            <section class="articles">
                {% for subject in subjects %}
                    <article class="article">
                        <em>{{ subject.voteCount }}</em>
                        <h4>
                            {{ subject.name|truncate(50) }}
                        </h4>
                        <p>{{ subject.content|truncate(100) }}</p>
                        {% for speaker in subject.speakers %}
                            <span>{{ speaker.email }}</span>
                        {% endfor %}
                    </article>
                {% endfor %}
            </section>
        </article>
    </section>

    <section id="participants">
        <article>
            <h2 class="primary">Participant</h2>

            <ul class="speakers">
                <li class="speaker">
                    <img src="{{ asset('assets/images/default.svg') }}" alt="agl">
                    <div class="content-speaker">
                        <span class="name">{# Speaker #}</span>
                        <em class="email">{# Email du Speaker #}</em>
                        <span class="pres">{# Nombre #} Présentation(s)</span>
                    </div>
                </li>
            </ul>

        </article>
    </section>

    <section id="archive">
        <article>
            <h2 class="primary">Archive</h2>

            <h3>Ancien Sujet</h3>

            <section class="articles">
                <article class="article">
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                    <span>{# date de présentation#}</span>
                </article>
            </section>

        </article>
    </section>
{% endblock %}
