{% extends "::base.html.twig" %}

{% from '::elements/macro.html.twig' import flash %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block mainContent %}
    <section>
        <h2 class="primary">Modifier mes informations</h2>
        <img src="{{ vich_uploader_asset(user, 'pictureFile') }}" alt="">
        {{ flash() }}
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
