{% extends "::base.html.twig" %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block mainContent %}
    <section>
        <h1>{{ user.username }}</h1>
        <img src="{{ vich_uploader_asset(user, 'pictureFile') }}" alt="">
        {{ user.firstname }}
        {{ user.lastname }}
    </section>
{% endblock %}
