{% extends "::base.html.twig" %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block mainContent %}
    <section class="user-profile user-profile-view-infos">

        <div class="infos-container">
            <div class="side side--left">
                <img src="{{ vich_uploader_asset(user, 'pictureFile') }}" alt="User Profile Image" class="user-img-profile">
            </div>

            <div class="side side--right">
                <h2 class="primary">{{ user.firstname }} {{ user.lastname }}</h2>
                <p class="subtitle">{{ user.username }}</p>
            </div>
        </div>
    </section>
{% endblock %}
